@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BORDER: 1px solid #800000;
  --BORDER-RADIUS: 15px;
}

.App {
  text-align: center;
  font-family: cursive;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffe4c4;
  gap: 1rem;
}

.valueSetter {
  border: var(--BORDER);
  padding: 10px;
  width: 120px;
  min-height: 150px;
  display: grid;
  grid-template-areas:
    "title"
    "plusbtn"
    "p"
    "minusbtn";
  place-content: center;
  background-color: #e3e9f1;
}

.valueSetterBtn {
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  place-self: center;
}

.plusBtn {
  background-color: #8ac072;
  grid-area: plusbtn;
}

.minusBtn {
  background-color: #f07f7f;
  grid-area: minusbtn;
}

#sessionTime {
  grid-area: val1;
}

#breaktime {
  grid-area: val2;
}

.timer {
  grid-area: ti;
  width: 400px;
  height: 200px;
  border: 10px solid white;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: sacramento;
  font-weight: bolder;
  font-size: 3rem;
  top: 0;
  padding-top: 50px;
  padding: 0%;
}

.mod {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.title {
  grid-area: title;
}

.actionBtn {
  width: 75px;
  height: 45px;
  margin: 1rem;
  border: none;
  box-shadow: -2px -2px 15px;
  border-radius: var(--BORDER-RADIUS);
  background-color: #e3e9f1;
  font-size: 1.5rem;
  font-weight: bold;
}

#timer-label {
  margin-top: 2px;
  padding: 0;
}

#time-left {
  margin: 0;
}
